$sassy-color: #BD335C;

* {
	background-color: $sassy-color;
}

	h1 {
		font-family: 'Rock Salt', 'cursive';
	}

	p {
		font-family: 'Lora', 'serif';
		color: #D1C7C7;
		border-radius: 3px solid white;
	}
